{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}Flasky - Judge{%endblock%}
{%block page_content%}
<div class="page-header">
	<h4 style="text-align: center;"><b>Judge Whether A Polynomial Is Primitive On GF(p^m)</b></h4>
</div>
{{wtf.quick_form(form)}}
{%if show == True%}
<hr>
<div>
	<ul class="list-group">
		<li class="list-group-item" style="background: black; color:darkturquoise; text-align: center;">Is Primitive Polynomial?</li>
		{%if is_primitive%}
		<li class="list-group-item" style="text-align: center; color: green; border-color: black;">True</li>
		{%else%}
		<li class="list-group-item" style="text-align: center; color: red; border-color: black;">False</li>
		{%endif%}
		</ul>
		<li class="list-group-item" style="text-align: center; border-color: black;">
			<a href="/judge" style="color:black;">Clear</a>
		</li>
</div>
{%endif%}
{%endblock%}