{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}Flasky - Polynomial{%endblock%}
{%block page_content%}
<ul>
    <li><b>Reference</b></li>
    <li><a href="https://www.cacrnet.org.cn/">Chinese Association for Cryptologic Research .CACR</a></li>
    <li><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask - </a></li>
    <li><a href="http://www.flintlib.org/">FLINT - Fast Library for Number Theory</a></li>
    <li><a href="https://galois.readthedocs.io/">Galois - A performant NumPy extension for Galois fields</a></li>
    <li><a href="https://www.gnu.org/licenses/gpl-3.0-standalone.html">GNU GENERAL PUBLIC LICENSE</a></li>
</ul>
{%endblock%}
